*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* navbar style  */
nav{
    max-width: 1200px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.logo img{
    width: 120px;
    height: 50px;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}
nav ul a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.759);
    font-size: 16px;

} 


/* button style  */
.btn{
    background-color: #30B868;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    height: 30px;
    padding: 8px;
    cursor: pointer;

    
}
.btn:hover{
    background-color: aqua;
}

/* hero section  */

.thinking{
    background-image: url("../assets/hero-bg.png");
    
    height: 450px;
    text-align: center;
    padding-top: 70px;

}

.btn-thinking{
    border-radius: 20px;
    color: #30B868;
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
}
.btn-thinking:hover{
    background-color: aqua;
}

.structured{
    margin-top: 1opx;
    font-size: 65px;
}

.private-space{
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.585);
    font-size: 14px;
}

.think-buttons{
    margin-top: 15px;
}
.see-btn{
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    padding: 8px;
    background-color: transparent;
    cursor: pointer;
}
.see-btn:hover{
    background-color: aqua;
}

/* notes section  */

.notes-section{
    width: 90%;
    margin: 0 auto;
    text-align: center;


}

.notes-section h1,h3{
    color: rgba(0, 25, 49, 1);
}

.notes-section p{
    color: rgba(98, 115, 130, 1);
    margin-top: 12px;
}

.Scattered-notes {
    display: flex;
    margin-top: 100px;
}

.Scattered-notes img{
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 10px;
}

.Scattered-notes h3{
    margin-top: 20px;
}

.Scattered-notes p{
    margin-top: 15px;
    font-size: 14px;
}